- if controller_name != 'sessions'
  = link_to "Iniciar Sesión", new_session_path(resource_name), class: 'small'
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "Registrarse", new_registration_path(resource_name), class: 'small'